.app-shell__navbar--authenticated {
	padding: var(--mantine-spacing-md);
}

.app-shell__navbar__footer--authenticated {
	padding-top: var(--mantine-spacing-md);
	margin-top: var(--mantine-spacing-md);
	border-top: 1px solid;
	border-color: var(--mantine-color-gray-2);
}

.app-shell__navbar__link--authenticated {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: var(--mantine-font-size-sm);
	color: var(--mantine-color-gray--7);
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
	border-radius: var(--mantine-radius-sm);
	font-weight: 500;
}

.app-shell__navbar__link--authenticated:hover {
	background-color: var(--mantine-gray-0);
	color: var(--mantine-black);
}

.app-shell__navbar__link__icon--authenticated {
	color: var(--mantine-color-black);
	margin-right: var(--mantine-spacing-sm);
}

.app-shell__navbar__logo--authenticated {
	margin-top: auto;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bolder;
}

.app-shell__navbar__nav-link__icon--authenticated {
	color: inherit;
	margin-right: var(--mantine-spacing-sm);
}

html[data-color-scheme="dark"] .app-shell__navbar__link--authenticated:hover {
	background-color: var(--mantine-color-dark-6);
	color: var(--mantine-color-white);
}

html[data-color-scheme="dark"] .app-shell__navbar__link--authenticated {
	color: var(--mantine-color-dark-1);
}

html[data-color-scheme="dark"] .app-shell__navbar__link__icon--authenticated {
	color: var(--mantine-color-white);
}

html[data-color-scheme="dark"] .app-shell__navbar__footer--authenticated {
	border-color: var(--mantine-color-dark-4);
}
