.section__title {
	text-transform: capitalize;
	margin-bottom: var(--mantine-spacing-xl);
	display: inline-block;
	border-bottom: 5px solid;
	border-color: var(--mantine-tw-orange-7);
}

html[data-color-scheme="dark"] .section__title {
	border-color: var(--mantine-tw-orange-5);
}
