.app-shell main {
	background-color: var(--mantine-color-gray-0);
}

@media (max-width: 768px) {
	.app-shell main {
		padding-inline: 0.5rem;
	}
}

html[data-color-scheme="dark"] .app-shell main {
	background-color: var(--mantine-color-dark-8);
}


.hidden {
	display: none;
}

.capitalize {
	text-transform: capitalize;
}



