.app-shell main {
	background-color: var(--mantine-color-gray-0);
}

@media (max-width: 768px) {
	.app-shell main {
		padding-inline: 0.5rem;
	}
}

html[data-color-scheme="dark"] .app-shell main {
	background-color: var(--mantine-color-dark-8);
}

.app-shell__footer {
	padding-top: var(--mantine-spacing-md);
	margin-top: var(--mantine-spacing-md);
	border-top: 1px solid;
	border-color: var(--mantine-color-gray-2);
}

.app-shell__header {
	display: flex;
	align-items: center;
	top: 0;
	right: 0;
}

.app-shell__link {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: var(--mantine-font-size-sm);
	color: var(--mantine-color-gray--7);
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
	border-radius: var(--mantine-radius-sm);
	font-weight: 500;
}

.app-shell__burger .mantine-Burger-burger, .app-shell__burger .mantine-Burger-burger::before, .app-shell__burger .mantine-Burger-burger::after {
	background-color: var(--mantine-color-gray-6);
}

.app-shell__link:hover {
	background-color: var(--mantine-gray-0);
	color: var(--mantine-black);
}

.app-shell__link__icon {
	color: var(--mantine-color-black);
	margin-right: var(--mantine-spacing-sm);
}

.navlink__icon {
	color: inherit;
	margin-right: var(--mantine-spacing-sm);
}

.app-shell__link--active {

}

html[data-color-scheme="dark"] .app-shell__footer {
	border-color: var(--mantine-color-dark-4);
}

html[data-color-scheme="dark"] .app-shell__link:hover {
	background-color: var(--mantine-color-dark-6);
	color: var(--mantine-color-white);
}

html[data-color-scheme="dark"] .app-shell__link {
	color: var(--mantine-color-dark-1);
}

html[data-color-scheme="dark"] .app-shell__link__icon {
	color: var(--mantine-color-white);
}

.hidden {
	display: none;
}

.capitalize {
	text-transform: capitalize;
}

.app-shell__logo {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bolder;
}

@media only screen and (min-width: 48em) {
	.app-shell__burger {
		display: none;
	}
}
