.authenticated-header {
	display: flex;
	align-items: center;
	top: 0;
	right: 0;
}

.authenticated-header__burger .mantine-Burger-burger, .authenticated-header__burger .mantine-Burger-burger::before, .authenticated-header__burger .mantine-Burger-burger::after {
	background-color: var(--mantine-color-gray-6);
}

@media only screen and (min-width: 48em) {
	.authenticated-header__burger {
		display: none;
	}
}
