@import 'variables';
@import 'mixins';

button,
input[type='button'] {
  cursor: pointer;
}

.create-task-btn {
  @extend .fas, .fa-plus;
}

.edit-task-btn {
  @extend .fas, .fa-edit;

  &:before {
    padding: 0;
    margin: 0 0 0 4px;
  }
}

.delete-task-btn {
  @extend .fas, .fa-trash;
}

.create-task-btn,
.edit-task-btn,
.delete-task-btn {
  position: initial;
  margin: 10px;
}

.primary-input,
.primary-btn {
  height: 55px;
  width: 100%;
  outline: none;
}

.primary-btn {
  border-radius: $primary-border-radius;
  background-color: $primary-btn-color;
}

.primary-input {
  border-radius: $primary-border-radius;
  background-color: $secondary-bg-color;
  padding-left: 10px;
  color: $secondary-text-color;
}

.primary-input,
.primary-btn {
  @include custom-border;
  font-size: $secondary-font-size;
}

.task-options-tooltip-btn, .task-filter-tooltip-btn {
  @extend .excluded-link;
  color: set-text-color($bg-color);
  text-align: center;
  padding: 5px;
}

.task-filter-tooltip-btn {
  @extend .fa-filter;
  position: relative;
  float: left;
}

.task-options-tooltip-btn {
  @extend .fa-ellipsis-v;
  right: 5px;
  float: right;
}

.task-options-tooltip-btn, .task-filter-tooltip-btn {
  @extend .header-fas
}

.pagination-btn {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: $primary-font-size;
}