@import 'variables';
@import 'mixins';
@import 'keyframes';

.form-label,
.error {
  font-size: $secondary-font-size;
}

.draft {
  color: #808080;
  cursor: not-allowed;
}

.form-label {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  background-color: $bg-color;
  @include custom-border;
  display: flex;
  border-radius: $primary-border-radius;
}


.priority, .task, .status {
  min-width: 260px;
  max-width: 260px;
}

.required:before, .error:before {
  content: '*';
  color: $required-color;
}

.error {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  @include error-box;
  border-radius: $primary-border-radius;
  padding-left: 10px;
  font-size: 14px;
}

.required-fields-msg {
  background-color: $bg-color;
  margin-bottom: 1px;
  border-radius: $primary-border-radius;
  font-size: $primary-font-size;
  text-align: center;

  &:before {
    content: '*';
    color: $required-color;
  }
}

.email-exists {
  display: flex;
  height: 50px;
  width: 100%;
  @include center;
  @include error-box;
  border-radius: $primary-border-radius;
  font-size: $primary-font-size;

}

.email-exists-content {
  margin-right: 50px;
  color: $secondary-text-color;
  display: flex;
  position: relative;
  @include center;

  em {
    position: absolute;
    color: $secondary-text-color;
    padding-left: 5px;
    top: 0;
    &:after {
      background-color: $bg-color;
    }
  }
}

.clear-filter {
  @extend .fas, .fa-slash;
  @extend .excluded-link;
  color: set-clear-filter-color($bg-color);
  text-align: center;
  z-index: 1;
  position: absolute;
  margin-left: -2rem;
  margin-top: -3px;
  transform: rotate(-5deg);
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: loading infinite 20s;
  }
}

.current-link::after {
  content: '';
  display: block;
  width: 100%;
  transition: width 0.3s;
  height: 2px;
  background-color: set-text-color($bg-color);
}

.current-page::after {
  content: '';
  display: block;
  width: 100%;
  transition: width 0.3s;
  height: 2px;
  background-color: set-text-color($bg-color);
}

.excluded-link::after {
  content: initial;
  display: initial;
  width: initial;
  transition: initial;
  height: initial;
  background-color: initial;

  &:hover::after {
    transition: initial;
    width: initial;
  }
}
