@import 'variables';
@import 'mixins';

.container {
  @include column-flex;
}

.modal-container {
  @include column-flex;
  background-color: rgba(black, 0.75);
  height: 100vh;
  position: fixed;
  z-index: 1;
  align-items: center;
  @include reset-position;
}

.modal-content {
  position: relative;
  margin: auto;
  background-color: $secondary-color;
  height: 50vh;
  width: 50vw;
}

.create-task-modal-container {
  @extend .modal-container
}

.create-task-modal-content {
  @extend .modal-content
}

.edit-task-modal-container {
  @extend .modal-container
}

.edit-task-modal-content {
  @extend .modal-content
}

.form-container {
  @include column-flex;
  width: 30vw;
  min-width: 182px;
  max-width: 1700px;
  @include center;
  background-color: $secondary-color;
}

.body-container {
  @include column-flex;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.tasks-container {
  margin: 7% auto;
  height: 40vh;

  nav {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    @include column-flex;
    background-color: $primary-color;
    @include custom-border;
    margin-top: 1px;
    border-radius: $primary-border-radius;

    ul {
      list-style-type: none;

      li {
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
        display: flex;
        border-radius: 7px;
        @include custom-border;
        justify-content: center;
        align-items: center;
        margin: 1px;
        padding: 10px 25px;

        a {
          cursor: pointer;
          @include global-font-size;
        }
      }
    }
  }

}

.tasks-tooltip-container {
  @extend .fas, .fa-ellipsis-v;
  @extend .excluded-link;
  color: set-text-color($bg-color);
  position: absolute;
  text-align: center;
  right: 5px;
}