@import 'variables';
@import 'mixins';

.container {
  @include column-flex;
}

.modal-container {
  @include column-flex;
  background-color: rgba(black, 0.75);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  align-items: center;
  @include reset-position;
}

.modal-content {
  position: relative;
  margin: 11% auto;
  background-color: $secondary-color;
  height: 50vh;
  width: 50vw;

  &:focus {
    outline: none;
  }
}

.create-task-modal-container {
  @extend .modal-container
}

.create-task-modal-content {
  @extend .modal-content
}

.edit-task-modal-container {
  @extend .modal-container
}

.edit-task-modal-content {
  @extend .modal-content
}

.form-container {
  width: 30vw;
  padding: 2px;
  min-width: 182px;
  max-width: 1700px;
  margin: 7% auto;
  @include center;
  background-color: darken($bg-color, 10%);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.body-container {
  @include column-flex;
  align-items: center;
}

.tasks-container {
  margin: 7% auto;
  height: 40vh;

  nav {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    @include custom-border;
    margin-top: 1px;
    border-radius: $primary-border-radius;

    ul {
      display: flex;

      li {
        list-style-type: none;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
        border-radius: 7px;
        @include custom-border;
        margin: 1px;
        padding: 10px 25px;

        a {
          cursor: pointer;
          @include global-font-size;
        }
      }
    }
  }

}

.spinner-container {
  @include column-flex;
  @include center;
  overflow: hidden;
  margin: auto;
  width: 40vw;
  height: 40vh;
}

.task-options-tooltip-container, .task-filter-tooltip-container {
  @extend .excluded-link;
  color: set-text-color($bg-color);
  text-align: center;
  position: absolute;
  padding: 5px;
}

.task-filter-tooltip {
  min-height: 420px;
  max-height: 420px;
  overflow-y: auto;
  z-index: 1;

  li {
    border-bottom: 1px solid rgba(darken($bg-color, 10%), 0.3);
    overflow-wrap: break-word;
    width: 260px;
    &:hover {
      background-color: darken($bg-color, 10%);
    }
  }
}

.task-filter-tooltip-container {
  @extend .fa-filter;
  left: 5px;
}

.task-options-tooltip-container {
  @extend .fa-ellipsis-v;
  right: 5px;
}

.task-options-tooltip-container, .task-filter-tooltip-container {
  @extend .header-fas
}

.tasks-container li {
  background-color: $primary-btn-color;
}
