@import 'mixins';
@import 'variables';

* {
  @include reset;
  color: set-text-color($bg-color);
  font-family: $font-stack
}

html {
  font-size: 62.5%;
}

body {
  background-color: $bg-color;
  line-height: 1.6;
}

header {
  width: 100vw;
}

header,
nav,
nav ul {
  display: flex;
  @include center-end();
}

header {
  letter-spacing: 3px;
  background: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    padding: 15px;
    font-size: 2rem;
  }
}

em {
  position: absolute;
  font-style: normal;
}

a,
a:visited {
  text-decoration: none;
  color: set-text-color($bg-color);
}

a:focus::after, .paginate-anchor {
  width: 100%;
  transition: width 0.3s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @include custom-border;
  caret-color: $primary-caret-color;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 1000px $bg-color inset,
  0 0 0 1000px darken($bg-color, 10%) inset,
  0 0 0 1000px darken($bg-color, 10%) inset,
  0 0 0 1000px darken($bg-color, 10%) inset,
  0 0 0 1000px darken($bg-color, 10%) inset;
  transition: background-color 5000s ease-in-out 0s;
}

table {
  height: 100%;
}

th:nth-child(2), td:nth-child(2) {
  border-left: none;
  border-right: none;
}

table, tr, th, td {
  @include global-font-size;
  border-radius: $primary-border-radius;
}

tr, th, td {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

th, td {
  text-align: center;
  padding: 2px;
}

th {
  background-color: $primary-color;
  font-size: 1.7rem;
  cursor: pointer;
  border-left: 1px solid darken($primary-color, 10%);
  border-right: 1px solid darken($primary-color, 10%);
}

td {
  background-color: $primary-text-color;
  overflow-wrap: break-word;
  color: $secondary-text-color;
  @include custom-border;
}

em {
  cursor: pointer;
}

@include link-underline(em, set-text-color($bg-color));
@include link-underline(a, set-text-color($bg-color));