@import 'functions';
@import 'variables';

@mixin set-background-color($color) {
  background-color: $color;
  color: set-text-color($color)
}

@mixin custom-border($color) {
  border: 1px solid darken($color, 10%);
}

@mixin global-font() {
  font-size: 1.7rem;
  font-weight: bold;
}

@mixin column-flex() {
  display: flex;
  flex-direction: column;
}

@mixin center() {
  align-items: center;
  justify-content: center;
}

@mixin reset-position() {
  top: 0;
  left: 0;
}

@mixin center-end() {
  align-items: center;
  justify-content: flex-end;
}

@mixin reset() {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin info-box() {
  background: $primary-color;
  @include custom-border($primary-color);
}

@mixin success-box() {
  background: $success-box;
  @include custom-border($success-box);
}

@mixin warning-box() {
  background: $warning-box;
  @include custom-border($warning-box);
}

@mixin error-box() {
  background: $error-box;
  @include custom-border($error-box);
}

@mixin link-underline($element, $color) {
  #{$element}::after {
    content: '';
    display: block;
    width: 0;
    transition: width 0.3s;
    height: 2px;
    background-color: $color;
  }

  #{$element}:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

}
