@import 'functions';
@import 'variables';

@mixin custom-border() {
  border: 1px solid $primary-border-color;
}

@mixin global-font-size() {
  font-size: 1.7rem;
}

@mixin column-flex() {
  display: flex;
  flex-direction: column;
}

@mixin center() {
  align-items: center;
  justify-content: center;
}

@mixin reset-position() {
  top: 0;
  left: 0;
}

@mixin center-end() {
  align-items: center;
  justify-content: flex-end;
}

@mixin reset() {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin info-box() {
  background: $primary-color;
  @include custom-border;
}

@mixin success-box() {
  background: $success-box;
  @include custom-border;
}

@mixin warning-box() {
  background: $warning-box;
  @include custom-border;
}

@mixin error-box() {
  background: $error-box;
  color: $secondary-text-color;
  @include custom-border;
}

@mixin link-underline($element, $color) {
  #{$element}::after {
    content: '';
    display: block;
    width: 0;
    transition: width 0.3s;
    height: 2px;
    background-color: $color;
  }

  #{$element}:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

}
