$bg-color: #950740;
$primary-caret-color: #000;
$theme-gray: #43464B;
$theme-component: $bg-color;
$primary-text-color: #EDF5E1;
$secondary-text-color: #333;
$third-text-color: #eee;
$font-stack: 'Open Sans', Arial sans-serif;
$logo-font: 'Open Sans', Arial sans-serif;
$primary-color: $bg-color;
$primary-border-color: darken($primary-color, 10%);
$primary-btn-color: $bg-color;
$secondary-color: #A4B3B6;
$success-box: #099261;
$warning-box: #c46109;
$error-box: $primary-text-color;
$error-txt: #ff0000;
$primary-font-size: 1.5rem;
$primary-border-radius: 6px;
$required-color: #333;
