
.nav__item {
      list-style-type: none;
      padding: 15px;
      font-size: $secondary-font-size;
      text-transform: uppercase;
      color: set-text-color($bg-color);
    }


      .nav__link::after {
          content: '';
  display: block;
  transition: width 0.3s;
  height: 2px;
  background-color: set-text-color($bg-color);
      }

.nav__link--active::after {
  width: 100%;
}