.app-shell main {
	background-color: var(--mantine-color-gray-0);
}

html[data-color-scheme="dark"] .app-shell main {
	background-color: var(--mantine-color-dark-8);
}

.app-shell__header {
	position: relative;
	z-index: 1;
}

.app-shell__header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.navlink__icon {
	color: inherit;
	margin-right: var(--mantine-spacing-sm);
}

.app-shell__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app-shell__dropdown {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-width: 0;
	overflow: hidden;
}

@media only screen and (min-width: 48em) {
	.app-shell__dropdown, .app-shell__burger {
		display: none;
	}
}

.app-shell__logo {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bolder;
}

.app-shell__links {
	margin-right: var(--mantine-spacing-sm);
}

.app-shell__burger {
	color: var(--mantine-color-gray-6);
}

@media only screen and (max-width: 48em) {
	.app-shell__burger {
		display: none;
	}
}

.app-shell__color-scheme-toggle {
	background-color: var(--mantine-color-gray-0);
}

html[data-color-scheme="dark"] .app-shell__color-scheme-toggle {
	background-color: var(--mantine-color-dark-6);
}
