.thead__col {
	padding: 1rem;
	border-radius: 3px;
}

.thead__col--can-sort {
	cursor: pointer;
}

.thead__col--can-sort:hover {
	background-color: var(--mantine-color-gray-0);
}

html[data-color-scheme="dark"] .thead__col--can-sort:hover {
	background-color: var(--mantine-color-dark-6);
}
